/* Add styles for the form container */
.form-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 10px;
  margin: 20px auto;
  border: 1px;
  border-radius: 8px;
  border: 1px solid #ddd;
  max-width: 900px;
}

/* Add styles for the input field */
.bot-input {
  font-size: 1rem;
  font-weight: 400;
  border-radius: 5px;
  margin-block: 5px 15px;
  width: 100%;
  padding: 10px 40px;
  transition: all 0.3s ease;
}

.bot-input:focus {
  outline: none; 
  border-color: #ae00ff; 
  box-shadow: 0 0 5px rgba(225, 0, 255, 0.5);
}

/* Add styles for the form details section */
.form-details {

}

/* Add styles for the category buttons container */
.bottom-line {

}

/* Add styles for individual category buttons */
.tag {
  background-color: #e2e6ea;
  color: #343a40;
  border: 1px solid #dae0e5;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s ease, color 0.2s ease;
  white-space: nowrap;
}

.tag:hover, .tag.selected-tag:hover {
  border-color: #ae00ff; 
  box-shadow: 0 0 5px rgba(225, 0, 255, 0.3);
}

.tag.selected-tag {
  border: 1px solid rgba(255, 183, 0, 0.8);
  background-color: #f4ab53;
  color: white;
}

/* Add styles for the job status dropdown */
.job-status {
  padding: 10px;
  margin-block: 15px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
  min-width: 150px;
}

.job-status:focus-visible {
  outline: solid 1px #ae00ff; 
  border-color: #ae00ff; 
  box-shadow: 0 0 2px rgba(225, 0, 255, 0.5);
}

/* Add styles for the submit button */
.submit-data {
background-color: #fa9c2a;
  color: white;
  padding: 10px 15px;
  margin: 5px 15px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease;
}

.submit-data:hover {
  background-color: #ff8d03;
  box-shadow: 0 0 2px rgba(225, 0, 255, 0.5);
}